.detail-container {
    border: solid 1px black;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    position: relative;
    top: 5rem;
}

.detail-store-img {
    width: 100%;
}

.store-info th:nth-child(1) {
    width: 500px;
}