.detail-container {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    position: relative;
    top: 5rem;
}

.tablet-flex {
    display: flex;
    flex-direction: row;
}

.detail-store-name {
    border-left: solid 8px #F68B1F;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.detail-store-img {
    width: 100%;
}

.store-column {
    width: 5rem;
    font-weight: bold;
}

.detail-container tr {
    padding: 1rem;
    border-width: 1px;
}

.detail-container td {
    padding: 0.3rem;
}

.store-other span {
    display: inline-block;
    background: #00AE95;
    color: #fff;
    padding: 0.3rem;
    border-radius: 1rem;
}

@media screen and (max-width:767px) { 
    .detail-store-img {
        width: 100%;
    }
    
    .store-info {
        position: relative;
        top: 3rem;
    }

    .tablet-flex {
        display: contents;
    }

}
@media screen and (min-width:768px) and ( max-width:1024px) {
    .detail-store-img {
        width: 50%;
        height: 50%;
        margin-right: 2rem;
    }
}
@media screen and (min-width:1024px) {
    .detail-store-img {
        width: 30%;
        height: 30%;
        margin-right: 2rem;
    }
}