.store-container {
    border: solid 1px #dcdcdc;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.8);
}

.search-res {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-name {
    font-size: 1.5rem;
    font-weight: 300;
}

.store-img {
    width: 100%;
}

.store-column {
    font-size: 1rem;
    font-weight: bold;
    color: #00AE95;
    margin-left: 0.5rem;
}

.store-genre-catch {
    margin-top: 1rem;
    color: #F68B1F;
    font-weight: bold;
}

.result-container {
    position: relative;
    margin-top: 5rem;
}

@media screen and (min-width:480px) { 
    #result-body {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}
@media screen and (min-width:768px) and ( max-width:1024px) {
    #result-body {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}
@media screen and (min-width:1024px) {
    #result-body {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
 
}