
/* メイン要素 */
.result-container {
    position: relative;
    margin-top: 5rem;
}

.search-res {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    position: relative;
    top: 2rem;
}

.store-container {
    border: solid 1px #dcdcdc;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.8);
}

.store-name {
    font-size: 1.5rem;
    font-weight: 300;
}

.store-img {
    width: 100%;
}

.store-column {
    font-size: 1rem;
    font-weight: bold;
    color: #00AE95;
    margin-left: 0.5rem;
}

.store-genre-catch {
    margin-top: 1rem;
    color: #F68B1F;
    font-weight: bold;
}




/* ページネーション */
.result-footer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 3rem;
}

/* トップに戻る */
#page-top {
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    background: #F68B1F;
    opacity: 0.6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#pagetop a{
    text-decoration: none;
  }

  
@media screen and (max-width:480px) { 

}

@media screen and (min-width:481px) and ( max-width:800px) {
    #result-body {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width:801px) and ( max-width:1023px) {
    #result-body {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (min-width:1024px) {
    #result-body {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
 
}