/* スマホのメニューバーを考慮した1vh */
/* var(--phone-vh, 1vh) */
/* calc(var(--phone-vh, 1vh) * 0)で指定 */

.page-title {
    color: orange;
}

/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.loading-elements {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.flex {
    display: flex;
}

body {
    background-color: #f5f5f5;
}

.back-btn {
    position: absolute;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

@media screen and (min-width:480px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
 
}