.title-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-title {
    font-size: 3rem;
}

.page-explanation {
    font-size: 2rem;
    -webkit-text-stroke: 1px #FFF;
    text-stroke: 1px #FFF;
}

body {
    font-size: 12px;
}