.top-title-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(24px);
}

.top-title-container:before{
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

.page-title {
    font-size: 3rem;
    font-weight: bold;
}

.title-logo {
    
}

.page-explanation {
    font-size: 2rem;
    font-weight: 500;
    -webkit-text-stroke: 1px #FFF;
    text-stroke: 1px #FFF;
}

body {
    font-size: 12px;
}

.search-container {
    position: relative;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-search-container {
    position: relative;
    top: 5rem;
}

.genre-select {
    display: inline-block;
    background: #FFF;
    border: solid 2px #000;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.2rem;
    cursor: pointer;
}

.selected_genre {
    background: #F68B1F;
    color: #FFF;
    font-weight: bold;
}

.genre {
    border: solid 2px #000;
    margin: 0.5rem;
    padding: 0.5rem;
}

.random-view-container {
    position: relative;
    top: 5rem;
}

.range-heading {

}

.genre-icon {
    font-size: 1.3rem;
    position: relative;
    top: 0.5rem;
}

.genre-heading {
    font-size: 1.5rem;
}

.search-btn {
    border: solid 2px #F68B1F;
    background: #FFF;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 2rem;
}

.search-btn:hover {
    background: #F68B1F;
}

.range-heading {
    font-size: 1.3rem;
}