<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"></style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='getdata.js') }}"></script>
    <title>すぐレス : {% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>