{% extends 'base.html' %}
{% block title %}店舗詳細{% endblock %}
{% block file %}<link href="{{ url_for('static', filename='detail.css') }}" rel="stylesheet"></style>{% endblock %}

{% block body %}
<!-- ページ全体 -->
<div class="page-body">
    
    <!-- タイトル -->
    <div class="title-container">
        <button class="back-btn" onclick="history.back()">戻る</button>
        <a href="/">
            <h1 class="page-title"><span class="isblack">すぐ</span>レス</h1>
            <img class="title-logo" src="{{ url_for('static', filename='images/favicon.ico') }}">
        </a>
    </div>

    <!-- 店舗情報 -->
    <div id="{{ store_data['id'] }}" class="detail-container">
        <h2 class="detail-store-name">{{ store_data['name'] }}</h2>
        <div class="tablet-flex">
            <img class="detail-store-img" src="{{ store_data['logo'] }}" alt="店舗イメージ">
            <table class="store-info" border="1" rules="all">
                <tr class="store-operating-container"> 
                    <td class="store-column">営業時間</td>
                    <td class="store-operating">{{ store_data['open'] }}</td>
                </tr>
                <tr class="store-adress-container">
                    <td class="store-column">住所</td>
                    <td class="store-adress">{{ store_data['address'] }}</td>
                </tr>
                <tr class="store-access-container">
                    <td class="store-column">最寄り駅</td>
                    <td class="store-station">{{ store_data['station'] }}</td>
                </tr>
                <tr class="store-access-container">
                    <td class="store-column">アクセス</td>
                    <td class="store-access">{{ store_data['access'] }}</td>
                </tr>
                <tr class="store-close-container">
                    <td class="store-column">定休日</td>
                    <td class="store-close">{{ store_data['close'] }}</td>
                </tr>
                <tr class="store-url-container">
                    <td class="store-column">URL</td>
                    <td class="store-url"><a href="{{ store_data['url'] }}">{{ store_data['url'] }}</a></td>
                </tr>
                <tr class="store-other-container">
                    <td class="store-column">その他特徴</td>
                    <td class="store-other">
                        {% if "お子様連れ歓迎" in store_data['child'] %}
                            <span>お子様連れ歓迎</span>
                        {% endif %}

                        {% if "営業している" in store_data['midnight'] %}
                            <span>23時以降も営業</span>
                        {% endif %}
                        
                        {% if "あり" in store_data['parking'] %}
                            <span>駐車場あり</span>
                        {% endif %}

                        {% if "禁煙席なし" in store_data['non_smoking'] %}
                            <span>喫煙席あり</span>
                        {% else %}
                            <span>全面禁煙</span>
                        {% endif %}

                        {% if "あり" in store_data['free_food'] %}
                            <span>食べ放題あり</span>
                        {% endif %}

                        {% if "あり" in store_data['private_room'] %}
                            <span>個室あり</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>
{% endblock %}