{% extends 'base.html' %}
{% block title %}検索結果{% endblock %}

{% block body %}
<div class="page-body">
    <div class="title-container">  
        <h1 class="page-title">すぐレス</h1>
        <span class="">食べにいきたいお店がすぐ見つかる！</span>
    </div>
    <div class="result-container">
        <div class="result-header">
            <span>検索結果</span>
            <span>表示数 : </span>
            <select></select>
        </div>
        <div class="result-body">
            {% for data in store_data %}
            <div id="{{ data['id'] }}" class="store-container">
                <span class="store-name">{{ data['name'] }}</span>
                <div class="store-left">
                    <img class="store-img" src ="{{ data['logo'] }}" alt="店舗イメージ">
                </div>
                <div class="store-right">
                    <div class="store-genre">
                        <span class="store-main-genre">{{ data['genre'] }}</span>
                        <span class="store-genre-catch">{{ data['catch'] }}</span>
                    </div>
                    <span class="store-access">{{ data['access'] }}</span>
                </div>
            </div>
        </div>
        <div class="result-footer">
            
        </div>
    </div>
</div>

{% endblock %}