{% extends 'base.html' %}
{% block title %}検索結果{% endblock %}

{% block body %}
<div class="page-body">
    <div class="title-container">  
        <h1 class="page-title">すぐレス</h1>
        <span class="">食べにいきたいお店がすぐ見つかる！</span>
    </div>
    <div class="result-container">
        <div class="result-header">
            <span>検索結果</span>
            <span>表示数 : </span>
            <select></select>
        </div>
        <div class="result-body">

        </div>
        <div class="result-footer">
            
        </div>
    </div>
</div>

{% endblock %}