{% extends 'base.html' %}
{% block title %}検索結果{% endblock %}
{% block file %}<link href="{{ url_for('static', filename='list.css') }}" rel="stylesheet"></style>{% endblock %}

{% block body %}
<!-- ページ全体 -->
<div class="page-body">

    <button class="back-btn" onclick="history.back()">戻る</button>

    <!-- タイトル -->
    <div class="title-container">
        <h1 class="page-title">すぐレス</h1>
        <span class="">食べに行きたいお店がすぐ見つかる！</span>
    </div>

    <!-- リスト全体 -->
    <div class="result-container">
        <div class="result-header">
            <span class="search-res">検索結果</span>
        </div>

        <!-- 要素一つ -->
        <div id="result-body" class="result-body">
            {% for key in restaurant_list %}
            <div id="{{ restaurant_list[key]['id'] }}" class="store-container" onclick="transition_detail('{{ restaurant_list[key]['id'] }}')">
                <span class="store-name">{{ restaurant_list[key]['name'] }}</span>
                <div class="flex">
                    <div class="store-left">
                        <img class="store-img" src ="{{ restaurant_list[key]['logo'] }}" alt="店舗イメージ">
                    </div>
                    <div class="store-right">
                        <div class="store-genre">
                            <span class="store-column">ジャンル</span><br>
                            <span class="store-main-genre">{{ restaurant_list[key]['genre'] }}</span><br>
                            <span class="store-genre-catch">{{ restaurant_list[key]['catch'] }}</span>
                        </div>
                    </div>
                </div>
                <span class="store-column">アクセス</span><br>
                <span class="store-access">{{ restaurant_list[key]['access'] }}</span>
            </div>
            {% endfor %}
        </div>

        <!-- ページング -->
        <div class="result-footer">
            
        </div>
    </div>
</div>

{% endblock %}