{% extends 'base.html' %}
{% block title %}検索結果{% endblock %}
{% block file %}<link href="{{ url_for('static', filename='no_store.css') }}" rel="stylesheet"></style>{% endblock %}

{% block body %}
<div class="page-body">

    <!-- タイトル -->
    <div class="title-container">
        <button class="back-btn" onclick="history.back()">戻る</button>
        <h1 class="page-title"><span class="isblack">すぐ</span>レス</h1>
        <img class="title-logo" src="{{ url_for('static', filename='images/favicon.ico') }}">
    </div>

    <div class="result-container">
        <span>店舗が見つかりませんでした</span>
    </div>
</div>
{% endblock %}