{% extends 'base.html' %}
{% block title %}トップ{% endblock % }

{% block body %}
<div class="page-body">
    <div class="title-container">  
        <h1 class="page-title">すぐレス</h1>
        <span class="">食べにいきたいお店がすぐ見つかる！</span>
    </div>
    <div class="search-container">
        <span>検索範囲</span>
        <select>
        </select>
    </div>
    <div class="random-search-container">
        <button class="random-search">ランダム検索</button>
    </div>
    <div class="random-view-container">
    </div>
</div>
{% endblock %}

{% endblock %}